<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnnyang.hqu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mnnyang.hqu.app.app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/greenTheme">
        <activity
            android:name="com.mnnyang.hqu.course.CourseActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mnnyang.hqu.setting.SettingActivity">

        </activity>
        <activity android:name="com.mnnyang.hqu.impt.ImptActivity"></activity>
        <activity android:name="com.mnnyang.hqu.add.AddActivity"></activity>
        <activity android:name="com.mnnyang.hqu.mg.MgActivity"></activity>
        <activity android:name="com.mnnyang.hqu.about.AboutActivity"></activity>
        <activity android:name="com.mnnyang.hqu.conf.ConfActivity"></activity>
        <activity android:name="com.mnnyang.hqu.school.SchoolActivity"></activity>

        <!---->
        <receiver android:name="com.mnnyang.hqu.widget.OneWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_one" />
        </receiver>
    </application>

</manifest>